

.current-w {
    border: 1px black solid;
    padding: 5px;
}


.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}